header {
    background-color: black;
    color: white;
    text-align: center;
    border: 100px;
    padding: 10px;
    margin: auto;
    width: 75%;
}
main {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9;
}
main:hover {
    background-image: url(../images/background-image-edited.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav {
    margin: auto;
    width: 10%;
    text-align: center;
}
footer {
    margin: auto;
    width: 100px;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
}
aside {
    color: white;
    margin: auto;
    text-align: center;

}
.liHover {
    color: black;
    
}
.liHover:hover{
    color:white;
}
.flex-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.page2oL{
    margin:auto;
    width: 25%;
    height: 35%;
    background-color: limegreen;
    line-height:1.1;
}
.page2UL {
    margin:auto;
    width: 25%;
    height: 30%;
    background-color: white;
    opacity: 1;
    border-radius:1;
}
.page2UL:hover{
    background-color:green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}
#page2oLCat {
    color: red;
}
#all {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
#all:hover {
    background-image: url(../images/background-image-edited.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#enjoyP {
    margin: auto;
    border: 10px;
    padding: 5px;
    background-color:pink;
}
#Para1 {
    background-color: lightgreen;
    color: red;
    margin: auto;
    width: 50%;
    height: 125px;
}
#Para2 {
    background-color: blue;
    color: yellow;
}
#index {
    color: blue;
    background-color: yellow;
}
#credits {
    color: red;
    background-color: black;
}
#page2 {
    color: white;
    background-color: black;
}
#helloMount {
    color:white;
}
#steveEye{
    font-style:italic;
}